body{
	background: linear-gradient(green,yellow);
}
main{
	
	height: 200px;
	width: 600px;
	background: linear-gradient(darkviolet,orange);
}
h1{
	font-size: 100px;
	text-align: center;
	text-transform: uppercase;
}
h1{
	font-size: 100px;
	text-align: center;
}